.panel {
  border: 1px solid #00ff00;
  padding: 3px;
  background: #001100;
  overflow: hidden;
  margin-bottom: 6px;
}

.title {
  color: #00ffff;
  font-weight: bold;
  border-bottom: 1px solid #004400;
  padding-bottom: 1px;
  margin-bottom: 3px;
  font-size: 10px;
}
